.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 24px;
}

.container:first-of-type {
  margin-top: 42px;
}

@media only screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .step {
    position: static !important;
  }

  .description {
    justify-content: center;
  }
}
.description {
  flex: 2;
  display: flex;
  height: fit-content;
  max-width: 450px;
  width: 100%;
}

.step {
  flex: 1;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.2px;
}

.stepTitle {
  font-weight: bold;
  margin-bottom: 12px;
}

.code {
  flex: 3;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: 'red';
  display: flex;
  align-items: center;
  overflow: auto;
  max-width: 100%;
}

.code div {
  align-self: stretch;
  flex: 1;
}
