.navbarHideable {
  transition: transform var(--ifm-transition-fast) ease;
}

.navbarHidden {
  transform: translate3d(0, calc(-100% - 2px), 0);
}

[class*='navbar-sidebar__backdrop'] {
  background-color: var(--swm-sidebar-backdrop);
}

.navbarLanding {
  position: relative;
  background-color: transparent;
  padding-top: 2rem;
  padding: 0 1.25rem 0 1.5rem;
}
