.bigWave {
  position: absolute;
  z-index: -5;
  top: 3rem;
  right: 0;
}
@media (max-width: 1600px) {
  .bigWave {
    display: none;
  }
}

@media (min-width: 2550px) {
  .bigWave {
    display: none;
  }
}
