.wave {
  position: absolute;
  z-index: -5;
  top: 3rem;
  right: 0;
}

@media (max-width: 996px) {
  .wave {
    display: none;
  }
}

@media (min-width: 1600px) {
  .wave {
    display: none;
  }
}
