.container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
}

.waveContainer {
  position: relative;
  display: none;
  margin: 3rem 0 -3rem;
}

@media (max-width: 1440px) {
  .container {
    width: 75%;
  }
}

@media (max-width: 996px) {
  .container {
    width: 85%;
    gap: 3.5rem;
  }
}
