.featureItem {
    background-color: var(--swm-blue-light-20);
    box-shadow: -12px 12px 0px var(--swm-purple-light-80);
    padding: 1.5em;
  }
  
  .featureItem h3 {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
  }

  @media (max-width: 420px) {
    .featureItem h3 {
      font-size: 20px
    }
  }
  