footer {
  position: relative;
}

.footerLanding {
  --ifm-footer-background-color: transparent;
  --ifm-footer-padding-horizontal: 0;
  position: relative;
}

@media (min-width: 996px) and (max-width: 1280px) {
  .footerLanding [class*='footer__copyright'] {
    padding: 0 2rem;
  }
}
