name: Test Android build
on:
  pull_request:
    paths:
      - 'android/**'
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        working-directory: [example, FabricExample]
    concurrency:
      group: android-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: 'yarn'
      - name: Install node dependencies
        working-directory: ${{ matrix.working-directory }}
        run: yarn
      - name: Build app
        working-directory: ${{ matrix.working-directory }}/android
        run: ./gradlew assembleDebug --console=plain -PreactNativeArchitectures=arm64-v8a
