name: Test Android build
on:
  pull_request:
    paths:
      - 'android/**'
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      WORKING_DIRECTORY: examples/Example
    concurrency:
      group: android-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: 'yarn'
      - name: Install node dependencies
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn
      - name: Build app
        working-directory: ${{ env.WORKING_DIRECTORY }}/android
        run: ./gradlew assembleDebug --console=plain
