name: Check documentation

on:
  pull_request:
    paths:
      - packages/docs-gesture-handler/**
  workflow_dispatch:

jobs:
  check:
    if: github.repository == 'software-mansion/react-native-gesture-handler'

    runs-on: ubuntu-latest
    env:
      WORKING_DIRECTORY: packages/docs-gesture-handler
    concurrency:
      group: docs-check-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Use Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install node dependencies
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn

      - name: Generate docs
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn build
