name: Check documentation

on:
  pull_request:
    paths:
      - 'docs/**'

jobs:
  check:
    runs-on: ubuntu-latest
    concurrency:
      group: docs-check-${{ github.ref }}
      cancel-in-progress: true
    env:
      WORKING_DIRECTORY: docs
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: 'yarn'
      - name: Install node dependencies
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn
      - name: Generate docs
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn build
