name: Test iOS build
on:
  pull_request:
    paths:
      - '.github/workflows/ios-build.yml'
      - 'RNGestureHandler.podspec'
      - 'ios/**'
      - 'Example/ios/**'
      - 'FabricExample/ios/**'
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on: macos-12
    strategy:
      matrix:
        working-directory: [example, FabricExample]
    concurrency:
      group: ios-${{ matrix.working-directory }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: 'yarn'
      - name: Install node dependencies
        working-directory: ${{ matrix.working-directory }}
        run: yarn
      - name: Install pods
        working-directory: ${{ matrix.working-directory }}/ios
        run: pod install
      - name: Build app
        working-directory: ${{ matrix.working-directory }}
        run: yarn ios
