name: Kotlin Lint

on:
  pull_request:
    paths:
      - packages/react-native-gesture-handler/android/**
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  check:
    if: github.repository == 'software-mansion/react-native-gesture-handler'

    runs-on: ubuntu-latest
    env:
      WORKING_DIRECTORY: packages/react-native-gesture-handler
    concurrency:
      group: kotlin-lint-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Use Java 17
        uses: actions/setup-java@v4
        with:
          distribution: oracle
          java-version: 17

      - name: Use Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: yarn

      - uses: actions/cache@v4
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install node dependencies
        run: yarn install --immutable

      - name: Restore build from cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ${{ env.WORKING_DIRECTORY }}/android/build
            ${{ env.WORKING_DIRECTORY }}/android/.gradle
          key: ${{ runner.os }}-kotlin-lint-gradle-${{ hashFiles('${{ env.WORKING_DIRECTORY }}/**/*.gradle*', '${{ env.WORKING_DIRECTORY }}/**/gradle-wrapper.properties', '${{ env.WORKING_DIRECTORY }}/android/build.gradle') }}

      - name: Lint
        run: yarn workspace react-native-gesture-handler lint:android
