name: Test TypeScript and Lint
on:
  pull_request:
    paths:
      - 'packages/react-native-gesture-handler/src/**'
      - 'packages/react-native-gesture-handler/*'
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  check:
    if: github.repository == 'software-mansion/react-native-gesture-handler'
    runs-on: ubuntu-latest
    env:
      WORKING_DIRECTORY: 'packages/react-native-gesture-handler'
    concurrency:
      group: static-root-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Use Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'yarn'
      - name: Install node dependencies
        run: yarn --immutable && yarn postinstall
      - name: Check types
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn ts-check
      - name: Lint
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn lint-js
      - name: Check for circular dependencies
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn workspace react-native-gesture-handler circular-dependency-check
