name: Test TypeScript and Lint
on:
  pull_request:
    paths:
      - 'example/**'
      - 'FabricExample/**'
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  check:
    if: github.repository == 'software-mansion/react-native-gesture-handler'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        working-directory: [example, FabricExample]
    concurrency:
      group: typescript-${{ matrix.working-directory }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Use Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'yarn'
      - name: Install root node dependencies
        run: yarn && yarn prepare
      - name: Install ${{ matrix.working-directory }} app node dependencies
        working-directory: ${{ matrix.working-directory }}
        run: yarn
      - name: Check types
        working-directory: ${{ matrix.working-directory }}
        run: yarn tsc --noEmit
      - name: Lint
        working-directory: ${{ matrix.working-directory }}
        run: yarn lint-check
